@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html,
body {
   margin: 0;
   height: 120%;
   font-family: 'Josefin Sans', sans-serif;

}

.header {
   position: relative;
   overflow: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   -ms-flex-line-pack: start;
   align-content: flex-start;
   height: 50vw;
   min-height: 400px;
   max-height: 600px;
   min-width: 300px;
   color: #eee;
}

.header:after {
   content: "";
   width: 100%;
   height: 40%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(27, 27, 27)));
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(27, 27, 27) 100%);
}

.header:before {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: -200;
   left: 0;
   -webkit-backface-visibility: hidden;
   -webkit-transform: translateZ(0) scale(1.0, 1.0);
   transform: translateZ(0);
   background: #1B2030 url('../images/ImagesFond/city.jpg') top center no-repeat;
   background-size: cover;
   -webkit-animation: grow 60s linear 10ms infinite;
   animation: grow 60s linear 10ms infinite;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   z-index: -2
}

.header a {
   color: #eee
}

.menu {
   display: block;
   width: 30px;
   height: 30px;
   border: 2px solid #fff;
   border-radius: 3px;
   position: absolute;
   right: 20px;
   top: 20px;
   text-decoration: none
}

.menu:after {
   content: "";
   display: block;
   width: 20px;
   height: 3px;
   background: #fff;
   position: absolute;
   margin: 0 auto;
   top: 5px;
   left: 0;
   right: 0;
   -webkit-box-shadow: 0 8px, 0 16px;
   box-shadow: 0 8px, 0 16px
}

.logo {
   border: 2px solid #fff;
   border-radius: 3px;
   text-decoration: none;
   display: inline-block;
   margin: 20px;
   padding: 5px 10px;
   font-weight: 600;
   font-size: 1.2em;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
}

.sides,
.info {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
   width: 100%
}

.info {
   width: 100%;
   padding: 15% 10% 0 10%;
   text-align: center;
   text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.author {
   display: inline-block;
   width: 60px;
   height: 60px;
   margin-top: 250px;
   border-radius: 50%;
   background: url('../images/francois.jpg') center no-repeat;
   background-size: cover;
   -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
   margin-bottom: -3px
}

.info h4,
.meta {
   font-size: 0.7em
}

.meta {
   font-style: italic;

}

@-webkit-keyframes grow {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1)
   }

   50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2)
   }
}

@keyframes grow {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1)
   }

   50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2)
   }
}

.content {
   padding: 5% 10%;
   text-align: justify
}

.btn {
   color: #333;
   border: 2px solid;
   border-radius: 3px;
   text-decoration: none;
   display: inline-block;
   padding: 5px 10px;
   font-weight: 600
}

.twtr {
   margin-top: 100px
}

.btn.twtr:after {
   content: "\1F426";
   padding-left: 5px
}


body {
   font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

   overflow-x: hidden;
   color: #2a3237;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.parallax {
   position: absolute;
   overflow: hidden;
   width: 100%;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.parallax img {
   width: 100%;
   height: 100%;
}

/* Preloader */

.preloader {
   position: fixed;
   z-index: 9999;
   width: 100%;
   height: 100%;
   background-color: white;
}

.preloader img {
   position: absolute;
   top: calc(50% - 32px);
   left: calc(50% - 32px);
}




p {

   line-height: 22px;
   font-size: 14px;
   color: #DBD4D4;
}


.content>p {
   color: #252b34;

   position: center;
   font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
   position: relative;
   margin: 10px 0;
}

h1 {
   font-size: 60px;
}

h2 {
   font-size: 48px;
}

h3 {
   font-size: 30px;
}

h4 {
   font-size: 24px;
}

h5 {
   font-size: 16px;
}

h6 {
   font-size: 14px;
}

ul.white-list {
   padding: 0;
   list-style-type: none;
}

ul.white-list li {
   font-size: 18px;
   margin: 10px 0;
   color: #fff;
}

ul.white-list li:before {
   content: ' ';
   position: relative;
   top: -3px;
   display: inline-block;
   width: 6px;
   height: 6px;
   margin-right: 15px;
   background: white;
}

header {

   position: absolute;
   margin-top: -150px;
   margin-bottom: 0x;
   padding-top: 70px;
   color: white;

}

.header-section {
   float: left;
   width: 100%;
   color: #ffffff;
   background: transparent;
   padding-bottom: 40px;
   padding-top: 70px;
}

header .open-blink {
   content: ' ';
   position: relative;
   display: inline-block;
   width: 14px;
   height: 14px;
   margin: 0 20px;
   border-radius: 50%;
   background-color: #4caf50;
   -webkit-animation-name: flash;
   animation-name: flash;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

header .open-blink:before {
   content: ' ';
   position: absolute;
   top: -8px;
   left: -8px;
   display: inline-block;
   width: 30px;
   height: 30px;
   opacity: 0.1;
   border-radius: 50%;
   background-color: #4caf50;
}

header span {
   color: #5dade2;
}

footer span {
   color: #5dade2;
}

span {
   color: #5dade2;
}

header .table {
   display: table;
   height: 80%;
}

header .container {
   height: 80%;
}

header .header-text {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   color: white;
}

header .typed {
   display: inline-block;
   margin: 0;
}

header .typed-cursor {
   font-size: 40px;
   display: inline-block;
   margin: 0 10px;
   color: #5dade2;
   -webkit-animation-name: flash;
   animation-name: flash;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

a {
   text-decoration: none;
   color: #5dade2;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

/* Navigation Bar ( Navbar ) */

nav.navbar {
   position: absolute;
   z-index: 9500;
   width: 100%;
   width: 100vw;
   top: 50px;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
   color: #5dade2 !important;
}

nav.navbar-fixed-top {
   z-index: 9499;
   top: 0;
   padding: 15px 0;
   opacity: 0;
   background: #252b34;
   -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
   box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav>li>a:not(.btn) {
   color: #ffff;
}

.icon-bar {
   background: #bbb;
}


.btn {
   border-width: 1px;
   border-style: solid;
   border-radius: 0px;
   cursor: pointer;
   padding: 10px 22px;
   display: inline-block;
   letter-spacing: 1px;
   position: relative;
   min-width: 150px;
   -webkit-transition: all 0.4s ease-out 0s;
   transition: all 0.4s ease-out 0s;
   color: #fff;
}

.btn:hover,
.btn:focus {
   color: white;
}

.btn.btn-submit {
   width: 100%;
   float: left;
   margin-top: 30px;
   color: #000040;
   border: 2px solid #000040;
   background-color: #ffffff;
}

.btn.btn-submit:focus {
   font-weight: bold;
}

.btn.btn-submit:hover {
   color: #ffffff;
   background: #000040;
}



.btn.btn-blue {
   background: #5dade2;
}

.btn.btn-green {
   background: white
}

.btn.btn-green-fill {
   background: white;
   color: #01680c;
   border-color: #01680c;
}

.btn.btn-white-blue {
   background: white
}

.btn.btn-white-blue-fill {
   background: white;
   color: #004080;
   border-color: #004080;
}

.btn.btn-red {
   background: white
}

.btn.btn-red-fill {
   background: white;
   color: #e73f3f;
   border-color: #e73f3f;
}

.btn.btn-blue:hover {
   background: #31b9ff;
}

.btn.btn-blue-fill {
   color: #5dade2;
   border-color: #5dade2;
   background: transparent;
}

.btn.btn-navy-fill {
   color: #002953;
   border-color: #002953;
   background: white;
}

.btn.btn-navy1-fill {
   color: #002953;
   border-color: #002953;
   background: white;
}

.btn.btn-blue-fill:hover {
   color: white;
   background: #5dade2;
}

.btn.btn-navy-fill:hover {
   background: #002953;
   color: white;
   border-color: #002953;
}

.btn.btn-navy1-fill:hover {
   background: #ffff;
   color: #002953;
   border-color: #002953;
}

.btn.btn-white-fill {
   color: #fff;
   border-color: #fff;
   background: transparent;
}

.btn.btn-white-fill:hover {
   color: #5dade2;
   background: #fff;
}

.btn.btn-whitegray-fill {
   color: #252b34;
   border-color: #252b34;
   background: white;
   margin-bottom: -10vh;
}

.btn.btn-whitegray-fill:hover {
   border-color: #252b34;
   background: #252b34;
   color: white;
}

.btn.btn-gray-fill {
   color: white;
   border-color: #252b34;
   background: #252b34;
}

.btn.btn-gray-fill:hover {
   border-color: #bbb;
   background: #bbb;
}




.container {
   position: relative;
   z-index: 1;
}

/*  ::::::::::::::::: Barre de compétence:::::::::::::::::::::*/
.skillbar {
   position: relative;
   display: block;
   margin-bottom: 15px;
   width: 100%;
   background: #eee;
   height: 35px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-transition: 0.4s linear;
   transition: 0.4s linear;
   -webkit-transition-property: width, background-color;
   transition-property: width, background-color;
}

.skillbar:hover {
   position: relative;
   display: block;
   margin-bottom: 15px;
   width: 100%;
   background: #eee;
   height: 35px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-transition: 0.4s linear;
   transition: 0.4s linear;
   -webkit-transition-property: width, background-color;
   transition-property: width, background-color;

}

.skillbar-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 110px;
   font-weight: bold;
   font-size: 13px;
   color: #ffffff;
   background: #6adcfa;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-bottomleft: 3px;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}

.skillbar-title span {
   display: block;
   background: rgba(0, 0, 0, 0.1);
   color: white;
   padding: 0 20px;
   height: 35px;
   line-height: 35px;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-bottom-left-radius: 3px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-bottomleft: 3px;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}

.skillbar-bar {
   height: 35px;
   width: 0px;
   background: #6adcfa;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

.skill-bar-percent {
   position: absolute;
   right: 10px;
   top: 0;
   font-size: 11px;
   height: 35px;
   line-height: 35px;
   color: #ffffff;
   color: rgba(0, 0, 0, 0.4);
}

/*::::::::::::::::::::::::::::Fin Barre de compétence:::::::::::::::::::::::::::::: */


/*
=========================================
 0 . Sections 
=========================================*/
section {
   position: relative;
}

.section {
   padding: 40px 0;
   background: #fff;
}



/*
=========================================
 3 . Experiences 
=========================================*/

.stage {
   width: 100%;
   height: 350px;
   background-color: white;
   margin: 30px 0;
   text-align: center;
   border: 2px solid #5dade2;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.stage .icon-holder {
   position: relative;
   top: 100px;
   display: inline-block;
   margin-bottom: 40px;
   padding: 10px;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.stage .heading {
   position: relative;
   top: 70px;
   color: #101421;
   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.stage .icon-holder>img.icon {
   width: 4vw;
   height: 6.5vh;
   border-radius: 2px;

}

.stage .headDaucy {
   position: relative;
   top: 70px;
   color: #101421;
   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.stage:hover .headDaucy {
   top: -35px;
   color: #101421;
   /* visibility:hidden; */
}

.stage .daucy {
   position: relative;
   top: 100px;
   display: inline-block;
   margin-bottom: 40px;
   padding: 10px;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.stage .daucy>img.icon {
   width: 10vw;
   height: 8vh;
   border-radius: 2px;

}

.stage:hover {
   border: 4px solid #5dade2;
}

.stage:hover .icon-holder {
   top: -10px;

}

.stage:hover .daucy {
   top: -10px;

}

.stage:hover .heading {
   top: -10px;
   color: #101421;
   /* visibility:hidden; */
}

.stage .description {
   width: 80%;
   color: #101421;
   margin: 0 auto;
   opacity: 0;
   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -webkit-transform: scale(0);
   transform: scale(0);
}

.stage:hover .description {
   opacity: 1;
   color: #101421;
   -webkit-transform: scale(1);
   transform: scale(1);
}

.stage .descrDaucy {
   width: 80%;
   color: #101421;
   margin: 0 auto;
   opacity: 0;
   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -webkit-transform: scale(0);
   transform: scale(0);
}

.stage:hover .descrDaucy {
   opacity: 1;
   margin-top: -25px;
   color: #101421;
   -webkit-transform: scale(1);
   transform: scale(1);
}




/*
=========================================
CV -> block de gauche photo plus téléchargement du cv (image)
=========================================*/
.team {
   margin: 80px 0;
   padding-bottom: 60px;
   background: white;
   -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
   height: 350px;
   padding-top: 60px;
   opacity: 0;
   background-image: url('../images/ImagesFond/work.jpg');
   -webkit-transition: background-image 0.45s ease, opacity 0.45s ease;
   -webkit-transition: background-image 0.3s ease, opacity 0.45s ease;
   transition: background-image 0.3s ease, opacity 0.45s ease;

}

.team:hover .cover .overlay {
   opacity: 1;
   background-image: url('../images/ImagesFond/work.jpg');
   border: 4px solid #5dade2;
}

.team .avatar {
   position: relative;
   z-index: 2;
   margin-top: -60px;
   border-radius: 50%;
}

.team .title {
   margin: 50px 0;
}

/*================================
   FOOTER
   
   scrollup : "bouton haut qui permet de retourner en haut de la page 
===================================*/
.scrollup {
   display: inline-block;
   text-align: center;
   font-size: 11px;
   border-radius: 50%;
   color: #b8c8cc;
   float: right;
   font-weight: 700;
   margin-top: 6px;
}

.scrollup span {
   line-height: 0px;
   padding-left: 11px;
   font-size: 23px;
   margin-top: -7px;
}

.scrollup:hover {
   color: rgba(255, 255, 255, 0.90);
}

.footer_arrow::before {
   content: "\f077";
   position: absolute;
   right: 1em;
   padding: 0 1px;
   font-family: FontAwesome;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.footer_arrow {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   position: relative;
   padding-right: 2.2em;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

.scrollup:hover .footer_arrow::before,
.scrollup:focus .footer_arrow::before,
.scrollup:active .footer_arrow::before {
   -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
   animation-name: hvr-icon-bob-float, hvr-icon-bob;
   -webkit-animation-duration: .3s, 1.5s;
   animation-duration: .3s, 1.5s;
   -webkit-animation-delay: 0s, .3s;
   animation-delay: 0s, .3s;
   -webkit-animation-timing-function: ease-out, ease-in-out;
   animation-timing-function: ease-out, ease-in-out;
   -webkit-animation-iteration-count: 1, infinite;
   animation-iteration-count: 1, infinite;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -webkit-animation-direction: normal, alternate;
   animation-direction: normal, alternate;
}

/*================================
	5. Contact page
===================================*/
.contact-section {
   padding-top: 30px;
   margin-top: -16px;
   padding-bottom: 84px;
   background-image: url('../images/ImagesFond/contact.jpg');
   background-repeat: no-repeat;
   background-position: center fixed;
   /* pour anciens Chrome et Safari */
   background-size: cover;
   /* version standardisée */

}


/*================================
	6. Classe de la carte (map)
===================================*/
.map-container {
   height: 550px;
}



/* LIGNE DE SEPARATION SECTION*/
.abt_separator {
   width: 100%;
   margin: 18px auto 15px;
   position: relative;
   height: 1px;
   -webkit-backface-visibility: hidden;
   -webkit-transform: translateZ(0) scale(1, 1);
}

.abt_separator::after {
   height: 1px;
   background: #272727;
   background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.979 35%, rgba(0, 0, 0, 0.979) 70%, transparent 100%)));
   background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.979 35%, rgba(0, 0, 0, 0.979) 70%, transparent 100%));
   position: absolute;
   bottom: -1px;
   content: "";
   width: 100%;
   left: 0;
}

.abt_separatorWhite {
   width: 100%;
   margin: 18px auto 15px;
   position: relative;
   height: 1px;
   -webkit-backface-visibility: hidden;
   -webkit-transform: translateZ(0) scale(1, 1);
}

.abt_separatorWhite::after {
   height: 1px;
   background: #e8e8e8;
   background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(35%, rgba(253, 253, 253)), color-stop(70%, rgba(253, 253, 253)), to(transparent));
   background: linear-gradient(to left, transparent 0%, rgba(253, 253, 253) 35%, rgba(253, 253, 253) 70%, transparent 100%);
   position: absolute;
   bottom: -1px;
   content: "";
   width: 100%;
   left: 0;
}

/* FIN DE LIGNE DE SEPARATION SECTION*/







/*============================
Contact formulaire ! 
==============================*/
.contact-form-warper {
   margin-left: 15vw;

}

.blog-contact {
   padding: 0px;
   margin-bottom: 100px;
   margin-top: 20px;
   margin-left: 50px;
}

.blog-contact .form-group,
.blog-contact .form-group {
   padding-left: 40px;
   margin-left: 40vw;
}

/* Form Control */

#contactForm .submit-button {
   color: #ffffff;
   border-color: #002953;
   background: #000040;
}

#contactForm .submit-button:hover {
   background: #ffffff;
   color: #000040;
   border-color: #002953;
}

.g-recaptcha {
   margin-left: 70px;
}

.submit-button {
   margin-top: 20px !important;
   margin-left: 15px;
}


.form-control.form-white {
   color: #ffffff;
   border: 2px solid #000040;
   background: rgba(199, 205, 219, 0.2);
   -webkit-transition: background-color 0.3s;
   transition: background-color 0.3s;
}

.form-control.form-white::-webkit-input-placeholder {
   /* WebKit browsers */
   color: #000040;
   border: #000040;
}

.form-control.form-white:-moz-placeholder {
   opacity: 1;
   /* Mozilla Firefox 4 to 18 */
   color: #000040;
   border: #000040;
}

.form-control.form-white::-moz-placeholder {
   opacity: 1;
   /* Mozilla Firefox 19+ */
   color: #000040;
}

.form-control.form-white:-ms-input-placeholder {
   /* Internet Explorer 10+ */
   color: #000040;
}

.form-control.form-white:focus {
   background: rgba(199, 205, 219, 0.2);
}

.form-control {
   font-size: 15px;
   padding: 30px 30px;
   color: #050228;
   border-radius: 2px #050228;
   -webkit-box-shadow: none;
   box-shadow: none;
   border: 1px solid #050228;
   line-height: 2.429;
   margin-bottom: 20px;
}

.form-control:focus {
   border-left: 3px solid #050228;
   -webkit-box-shadow: none;
   box-shadow: none;
}


/* Footer */

footer {
   padding: 150px 0 40px;
   background-size: cover;

}

footer .trial-button {
   overflow: hidden !important;
   margin: 40px 0;
}

footer .open-blink {
   content: ' ';
   position: relative;
   display: inline-block;
   width: 14px;
   height: 14px;
   margin: 0 20px;
   border-radius: 50%;
   background-color: #4caf50;
   -webkit-animation-name: flash;
   animation-name: flash;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

footer .open-blink:before {
   content: ' ';
   position: absolute;
   top: -8px;
   left: -8px;
   display: inline-block;
   width: 30px;
   height: 30px;
   opacity: 0.1;
   border-radius: 50%;
   background-color: #4caf50;
}

footer .opening-hours {
   margin-top: 60px;
}

footer .bottom-footer {
   margin-top: 150px;
}



footer .social-footer {
   padding: 0;
   list-style: none;
}

footer .social-footer li {
   display: inline-block;
   margin: 0 10px;
}

footer .social-footer li a {
   font-size: 24px;
   color: #fff;
}

footer .social-footer li:hover a {
   color: #5dade2;
}


/* Mobile Nav */
.mobile-nav {
   position: fixed;
   z-index: 9999;
   top: 0;
   left: 0;
   display: table;
   width: 100%;
   height: 100%;
   text-align: center;
   opacity: 0;
   background: rgba(255, 255, 255, 0.98);
   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -webkit-transform: scale(0);
   transform: scale(0);
}

.mobile-nav.active {
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
}

.mobile-nav ul {
   display: table-cell;
   padding: 0;
   list-style: none;
   vertical-align: middle;
}

.mobile-nav ul li {
   margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
   color: #aaa;
}

.mobile-nav a.close-link {
   font-size: 24px;
   position: absolute;
   bottom: 0px;
   left: calc(50% - 10px);
   left: 0;
   width: 100%;
   padding: 15px 0;
   color: #fff;
   background: #5dade2;
}

.row.title {
   padding: 0 20px;
}

.light {
   font-weight: 500;
}

.regular {
   font-weight: 400;
}

.bold {
   font-weight: bold;
}

/* Colors */

.white {
   color: white;
}

.navy {
   color: #101421;
}

.bleu {
   color: #5dade2;
}

.black {
   color: #000000;
}

.light-black {
   color: rgba(0, 168, 255, 0.5);
}

.light-white {
   color: white;
}

/* Couleurs des background */

.white-bg {
   background: white;
}

.competence-bg {
   background: #212f44;
}


.blue {
   color: #5dade2;
}

.blue-bg {
   background: #98c4f5;
}

.navy-bg {
   background: #212f44;
}

.gray-bg {
   background: #252b34;
}

.muted {
   color: #101421;
}

.margin-top-top {
   margin-top: 200px;
   color: #ffff;
}

.margin-top {
   margin-top: 150px;
   color: #ffff;
}

.margin-top1 {
   margin-top: 70px;
   color: #ffff;
}

.margin-top2 {
   margin-top: 70px;
   color: #ffff;
   margin-left: 30px;
}


@media(max-width:992px) {
   h1 {
      font-size: 36px;
   }

   h2 {
      font-size: 28px;
   }

   h3 {
      font-size: 24px;
   }

   h4 {
      font-size: 20px;
   }

   h5 {
      font-size: 16px;
   }

   h6 {
      font-size: 12px;
   }

   .section {
      padding: 30px 0;
   }
}

.margin-left {
   margin-left: -70px;
}

/* Media Queries */

@media(max-width:991px) {
   .text-center-mobile {
      text-align: center !important;
   }

   .text-right-mobile {
      text-align: right;
   }
}


@media(max-width: 400px) {
   header .typed-cursor {
      display: none;
   }


   @import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:500');

}

img {
   max-width: 100%;
}






a,
a:hover,
a:focus,
.btn:focus {
   -webkit-text-decoration: none;
   -ms-text-decoration: none;
   -o-text-decoration: none;
   text-decoration: none;
   -webkit-text-decoration: none;
   -ms-text-decoration: none;
   -o-text-decoration: none;
   text-decoration: none;
   -webkit-text-decoration: none;
   -ms-text-decoration: none;
   -o-text-decoration: none;
   text-decoration: none;
   -webkit-text-decoration: none;
   -ms-text-decoration: none;
   -o-text-decoration: none;
   text-decoration: none;
   -webkit-text-decoration: none;
   -ms-text-decoration: none;
   -o-text-decoration: none;
   text-decoration: none;
   outline: none;
}











#preloader {
   position: fixed;
   left: 0;
   top: 0;
   z-index: 9999999;
   width: 100%;
   height: 100%;
   overflow: visible;
   background: url("../images/loader.gif") no-repeat center center;
   color: #000;
}
















.subfooter {
   text-align: center;
   margin-top: 30px;
   color: #bababa;
}

.subfooter p {
   color: #b8c8cc;
   float: left;
   font-size: 13px;
   margin-top: -50px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: capitalize;
}

.subfooter p a {
   color: rgb(255, 255, 255);
}

.scrollup {
   display: inline-block;
   text-align: center;
   font-size: 11px;
   border-radius: 50%;
   color: #b8c8cc;
   float: right;
   font-weight: 700;
   margin-top: -50px;
}

.scrollup span {
   line-height: 0px;
   padding-left: 11px;
   font-size: 23px;
   margin-top: -7px;
}

.scrollup:hover {
   color: rgba(255, 255, 255, 0.90);
}

.footer_arrow::before {
   content: "\f077";
   position: absolute;
   right: 1em;
   padding: 0 1px;
   font-family: FontAwesome;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.footer_arrow {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   position: relative;
   padding-right: 2.2em;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

.scrollup:hover .footer_arrow::before,
.scrollup:focus .footer_arrow::before,
.scrollup:active .footer_arrow::before {
   -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
   animation-name: hvr-icon-bob-float, hvr-icon-bob;
   -webkit-animation-duration: .3s, 1.5s;
   animation-duration: .3s, 1.5s;
   -webkit-animation-delay: 0s, .3s;
   animation-delay: 0s, .3s;
   -webkit-animation-timing-function: ease-out, ease-in-out;
   animation-timing-function: ease-out, ease-in-out;
   -webkit-animation-iteration-count: 1, infinite;
   animation-iteration-count: 1, infinite;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -webkit-animation-direction: normal, alternate;
   animation-direction: normal, alternate;
}